[Desktop Entry]

# xdg desktop entry for opening directories
# install under ~/.local/share/applications

Type=Application
Name=lf file manager
MimeType=inode/directory;
Exec=st -e lf %u
