[Desktop Entry]

# xdg desktop entry for opening text files
# install under ~/.local/share/applications

Type=Application
Name=vim
MimeType=text/plain;text/x-go;
Exec=alacritty -e vim %u
